body {
  font-family: sans-serif;
  background-color: #333333;
  /*background-image: linear-gradient(to bottom, #333333, #918e82 200%);*/
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  /*background: white;*/
  background: #333333;
}

header {
  /*background: #d2edf4;*/
  background: #222222;
  /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  padding: 20px 15px 15px 15px;
  position: relative;
  border-bottom: 2px solid #68050A;
}

#login-buttons {
  display: block;
  color: #F88F26;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  color: #F88F26;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1.2em;
  color: #F88F26;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: #444444;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  /*border: none;*/
  border-width: 1px;
  border-style: dashed;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: 1px solid #68050A;
}

li .text {
  margin-left: 10px;
  color: #BDBDBD;
}

li .textUser {
  margin-left: 10px;
  color: #D4000B;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
  color: red;
}

li.private {
  background: #292929;
  /*border-color: #ddd;*/
}

header .hide-completed {
  float: right;
  color: #F88F26;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
